<div class="firstCard">
  <!-- mw-[90%] mx-auto -->
  <div class="bg-wite border-0 rounded-lg dark:bg-gray-800">
    <div class="topText relative text-center">
      <h2 class="text-6xl topText-h2 text-white">
        Amazing
        <hr class="hr font-bold">
      </h2>
      <h2 class="text-3xl topText-h2-1 text-white">
        You know it when you feel it
      </h2>
    </div>
    <img class="rounded-t-lg"
      src="/img/Lexus-homepage-hero-brand-LCC-wind-tunnel-desktop-1920x795-LEX-LC5-MY24-0055.jpg" alt="" />
    <div class="button justify-center flex">
      <button type="button"
        class="imgButton w-54 text-gray-900 bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white  dark:hover:bg-gray-700 border-0 dark:focus:ring-gray-700">SHOP</button>
      <button type="button"
        class="imgButton w-56 h-12 text-gray-900 bg-white  focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white  dark:hover:bg-gray-700 border-0 dark:focus:ring-gray-700">BUILD</button>
    </div>
  </div>

  <div class="Dicons">
    <p class="text-center text-black mb-8 text-3xl">
      SHOPPING TOOLS
    </p>
  </div>
<div class="iconsContainer flex items-center justify-center flex-wrap md:order-1 space-x-1 md:space-x-2 rtl:space-x-reverse">
<a class="inline-flex items-center p-2 w-10 h-10 justify-center">x</a>
<a class="inline-flex items-center p-2 w-10 h-10 justify-center">x</a>
<a class="inline-flex items-center p-2 w-10 h-10 justify-center">x</a>
<a class="inline-flex items-center p-2 w-10 h-10 justify-center">x</a>
<a class="inline-flex items-center p-2 w-10 h-10 justify-center">x</a>

</div>
</div>